<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body>
<div class="wrap">
    <div class="management-content">
        <div class="management recovery">
            <h1 class="management-title">
                Восстановление
            </h1>

            <div class="input-content">
                <input type="email" class="input-content__input" placeholder="Введите email">
            </div>

            <div class="management__btn">
                <button class="management__button"  type="submit">Продолжить</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>