{% extends 'users/base.html' %}
{% block content %}
<div class="wrap">
    <div class="management-content">
        <div class="management recovery">
            <h1 class="management-title">
                Восстановление
            </h1>

            <div class="input-content">
                <input type="email" class="input-content__input" placeholder="Введите email">
            </div>

            <div class="management__btn">
                <button class="management__button"  type="submit">Продолжить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}