{% extends 'users/base.html' %}
{% block content %}
<div class="wrap">
    <div class="management-content">
        <form action="{% url 'users:forgot_password' %}" class="management recovery" method="post">
            {% csrf_token %}
            <h1 class="management-title">
                Восстановление
            </h1>

            <div class="input-content">
                {{form.email}}
            </div>

            <div class="management__btn">
                <button class="management__button"  type="submit">Продолжить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}