{% extends 'users/base.html' %}
{% block content %}
<div class="wrap">
    <div class="management-content">
        <form action="{% url 'users:registration' %}" class="management registration" method="post">
            {% csrf_token %}
            <h1 class="management-title">
                Регистрация
            </h1>

            <div class="input-content">
                 {{ form.username }}
            </div>
            <div class="input-content">
                 {{ form.email }}
            </div>
            <div class="input-content">
                 {{ form.password1 }}
            </div>
            <div class="input-content">
                 {{ form.password2 }}
            </div>

            <div class="management__btn">
                <button class="management__button"  type="submit">регистрация</button>
            </div>
            <span href="registration.html" class="management__no_account">
                Уже есть аккаунт? <a href="{% url 'users:login' %}">авторизация</a>
            </span>
        </form>
    </div>
</div>
{% endblock %}