<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>registration</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body>
<div class="wrap">
    <div class="management-content">
        <div class="management registration">
            <h1 class="management-title">
                Регистрация
            </h1>

            <div class="input-content">
                <input type="text" class="input-content__input" placeholder="Логин">
            </div>
            <div class="input-content">
                <input type="email" class="input-content__input" placeholder="Email">
            </div>
            <div class="input-content">
                <input type="password" class="input-content__input" placeholder="Пароль">
            </div>
            <div class="input-content">
                <input type="password" class="input-content__input" placeholder="Повторите пароль">
            </div>

            <div class="management__btn">
                <button class="management__button"  type="submit">регистрация</button>
            </div>
            <span href="registration.html" class="management__no_account">
                    Уже есть аккаунт? <a href="registration.html">авторизация</a>
                </span>

        </div>
    </div>
</div>
</body>
</html>