{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/>
    </noscript>
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="{% url 'main:index' %}">Solid State</a></h1>
            <nav>
                {% if request.user.is_authenticated %}
                <a href="{% url 'users:profile' %}" class="username">{{request.user.username}}</a>
                {% endif %}
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'main:index' %}">Home</a></li>
								<li><a href=".">Generic</a></li>
								<li><a href=".">Elements</a></li>
								{% if request.user.is_authenticated %}
									<li><a href="{% url 'users:logout' %}">Log out</a></li>
								{% else %}
									<li><a href="{% url 'users:login' %}">Log In</a></li>
								{% endif %}
								<li><a href="{% url 'users:registration' %}">Sign Up</a></li>
								{% if user.is_superuser or user.is_stuff %}
								<li><a href="{% url 'admin:index' %}">Admin panel</a></li>
								{% endif %}
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>
        {% block content %}

        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/js/custom_script.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>