{% extends 'main/base.html' %}
{% load static %}
{% block content %}
					{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li class="messages__styles messages--success">{{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %}
<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="{% url 'main:index' %}">Solid State</a></h1>
						<nav>
							<a href="{% url 'users:profile' %}" class="username">{{request.user.username}}</a>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'main:index' %}">Home</a></li>
								<li><a href=".">Generic</a></li>
								<li><a href=".">Elements</a></li>
								{% if request.user.is_authenticated %}
									<li><a href="{% url 'users:logout' %}">Log out</a></li>
								{% else %}
									<li><a href="{% url 'users:login' %}">Log In</a></li>
								{% endif %}
								<li><a href="{% url 'users:registration' %}">Sign Up</a></li>
								{% if user.is_superuser or user.is_stuff %}
								<li><a href="{% url 'admin:index' %}">Admin panel</a></li>
								{% endif %}
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-gem"></span></div>
							<h2>This is Solid State</h2>
							<p>Another free + fully responsive site template by <a href="/">seohanta</a></p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></div>
									<div class="content">
										<h2 class="major">Magna arcu feugiat</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<div class="image"><img src="{% static 'images/pic02.jpg' %}" alt="" /></div>
									<div class="content">
										<h2 class="major">Tempus adipiscing</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>

									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<div class="image"><img src="{% static 'images/pic03.jpg' %}" alt="" /></div>
									<div class="content">
										<h2 class="major">Nullam dignissim</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>

									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Vitae phasellus</h2>
									<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
									<section class="features" id="posts-container">
										{% for post in object_list %}
										<article>
											<a href="{% url 'main:details' post.slug %}" class="image"><img src="{{ post.image.url }}" alt=""/></a>
											<h3 class="major">{{ post.name }}</h3>
											<p>{{ post.description }}</p>
											<a href="{% url 'main:details' post.slug %}" class="special">Learn more</a>
										</article>
										{% endfor %}
									</section>

									<ul class="actions">
										{% if object_list|length == 4 and not show_all %}
										<li>
											<button class="button" id="browse-all-btn">Browse All</button>
										</li>
										{% elif show_all %}
										<li><a href="." class="button">Show less</a></li>
										{% endif %}
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
							<form method="post" action="{% url 'main:index' %}">
								{% csrf_token %}
								<div class="fields">
									{{form.non_field_errors}}
									<div class="field">
										<label for="{{form.name.id_for_label}}">Name</label>
										{{ form.name.errors }}
										{{ form.name }}
									</div>
									<div class="field">
										<label for="{form.email.id_for_label}}">Email</label>
										{{ form.email.errors }}
										{{ form.email }}
									</div>
									<div class="field">
										<label for="{form.textarea.id_for_label}}">Message</label>
										{{ form.textarea.errors }}
										{{ form.textarea }}
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="icon solid fa-home">
									Untitled Inc<br />
									1234 Somewhere Road Suite #2894<br />
									Nashville, TN 00000-0000
								</li>
								<li class="icon solid fa-phone">(000) 000-0000</li>
								<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="/">seohanta</a></li>
							</ul>
						</div>
					</section>

{% endblock %}

